// partial for unioversal components (header, main, etc.) used for specific parts of the website

.container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.main-section {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

#portfolio-text-id {
    padding-bottom: 5%;
}

.footer {
    padding: 2%;
    text-align: center;
}

#footer-text {
    font-size: small;
    font-weight: 200;
}

// attributes 
.selected {
    text-decoration: underline;
}

.hidden {
    display: none;
}


