// header stylings

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.navbar-div {
    width: 25%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-size: 1rem;
}

.navbar-link {
    transition: text-decoration 1s ease-in-out, text-decoration-color 0.3s ease;
    display: flex;
}

.navbar-link:hover {
    text-decoration: underline;
    text-decoration-color: currentColor;
}
