// partial for variables (colors, fonts, etc.)

// fonts
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

// colors 
$Black: hsl(0, 0%, 0%);
$Tan: hsl(33 , 43% , 91%);
$DarkTan: hsl(33 , 22% , 49%);